<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmotionalApp"
        tools:targetApi="31">

        <activity
            android:name=".ui.login_signup.LoginActivity"
            android:exported="true" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 회원가입 화면 -->
        <activity android:name=".ui.login_signup.SignUpActivity" android:exported="false"  android:screenOrientation="portrait" />

        <!-- 전체 훈련 / 상세 훈련 -->
        <activity android:name=".ui.main.MainActivity" android:exported="false"  android:screenOrientation="portrait" />

        <!-- 인트로 -->
        <activity android:name=".ui.intro.IntroTrainingActivity" android:exported="false"  android:screenOrientation="portrait" />
        <!-- 1주차 -->
        <activity android:name=".ui.emotion.select.SelectActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.emotion.anchor.AnchorActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.emotion.arc.ArcActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.emotion.select.SelectReportActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.emotion.arc.ArcReportActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.emotion.anchor.AnchorReportActivity" android:exported="false"  android:screenOrientation="portrait" />

        <activity android:name=".ui.body.BodyIntroActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.body.BodyExplanationActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.body.BodyPracticeActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.body.BodyRecordActivity" android:exported="false"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.body.BodyTrainingReportActivity" android:exported="false"  android:screenOrientation="portrait"/>

        <activity android:name=".ui.mind.art.ArtActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.mind.art.ArtReportActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.mind.trap.TrapActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.mind.trap.TrapReportActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.mind.auto.AutoActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.mind.auto.AutoReportActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.mind.AutoTrapReportActivity" android:exported="false"  android:screenOrientation="portrait" />

        <activity android:name=".ui.expression.avoidance.AvoidanceActivity" android:exported="false"  android:screenOrientation="portrait" />

        <activity android:name=".ui.weekly.WeeklyReportActivity" android:exported="false"  android:screenOrientation="portrait" />

        <activity android:name=".ui.expression.AvoidanceQuizActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.expression.stay.StayActivity" android:exported="false"  android:screenOrientation="portrait" />

        <activity android:name=".ui.expression.DrivenActionQuizActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.expression.opposite.OppositeActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.expression.alternative.AlternativeActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.weekly.WeeklyActivity" android:exported="false"  android:screenOrientation="portrait" />

        <activity android:name=".ui.expression.AvoidanceGuideActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.expression.DrivenActionGuideActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.expression.avoidance.AvoidanceReportActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.expression.opposite.OppositeReportActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.expression.stay.StayReportActivity" android:exported="false"  android:screenOrientation="portrait" />
        <activity android:name=".ui.expression.alternative.AlternativeReportActivity" android:exported="false"  android:screenOrientation="portrait" />

<!--        <activity android:name=".AddTester"-->
<!--            android:exported="true">-->
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->
<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
<!--        </activity>-->
    </application>
</manifest>
